lib-search {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 72px;
  width: 200px;
  background: white;
  transition-property: top, width;
  transition-duration: 350ms;
  transition-timing-function: ease;

  &.is-searching {
    top: 0;
    width: calc(100% - 16px);
  }
}

.input-container {
  margin-top: 8px;
  width: 100%;
}

.search-input {
  border: 1px solid lightgray;
  height: 36px;
  width: 100%;
  border-radius: 18px;
  padding: 0 40px 0 16px;
}
