lib-app {
  display: block;
  margin-top: 89px;
}

.information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;

  &.hidden {
    display: none;
  }
}
